Repository alimehasin/cvforest: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, bun run i18n:validate

refactor: website login
  apps/dashboard/src/components/shell/sidebar/links/links.tsx
  apps/dashboard/src/i18n/messages/ar.json
  apps/dashboard/src/i18n/messages/en.json
  apps/website/package.json
  apps/website/src/app/(dashboard)/layout.tsx
  apps/website/src/app/accounts/layout.tsx
  apps/website/src/app/accounts/login/page.tsx
  apps/website/src/app/accounts/verify/page.tsx
  apps/website/src/features/accounts/components/language-selector/index.ts
  apps/website/src/features/accounts/components/language-selector/language-selector.tsx
  apps/website/src/features/accounts/hooks/use-send-otp-form.ts
  apps/website/src/features/accounts/hooks/use-send-otp-mut.ts
  apps/website/src/features/accounts/hooks/use-sign-in-mut.ts
  apps/website/src/features/accounts/hooks/use-verify-otp-form.ts
  apps/website/src/features/accounts/hooks/use-verify-otp-mut.ts
  apps/website/src/features/accounts/types/index.ts
  apps/website/src/features/accounts/views/login/index.ts
  apps/website/src/features/accounts/views/login/login.tsx
  apps/website/src/features/accounts/views/send-otp/index.ts
  apps/website/src/features/accounts/views/send-otp/send-otp.tsx
  apps/website/src/features/accounts/views/verify-otp/index.ts
  apps/website/src/features/accounts/views/verify-otp/verify-otp.tsx
  apps/website/src/features/profile/types/index.ts
  apps/website/src/i18n/messages/ar.json
  apps/website/src/i18n/messages/en.json
Due: biome check --write, bun run i18n:validate

feat: add username and displayUsername fields to User model and integrate username plugin in auth
  apps/backend/prisma/migrations/20260131074007/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/utils/auth.ts
  apps/website/src/utils/auth-client.ts
Due: biome check --write

feat: add governorate relationship to User model and update Governorate model with backreference to users
  apps/backend/prisma/migrations/20260131074143/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

feat: add availability and work location enums, enhance User model with professional information and skills
  apps/backend/prisma/migrations/20260131074007/migration.sql
  apps/backend/prisma/migrations/20260131074143/migration.sql
  apps/backend/prisma/migrations/20260131074800/migration.sql
  apps/backend/prisma/schema.prisma
Due: none

feat: add seed function for skills to populate database
  apps/backend/prisma/seed/data/skills.ts
  apps/backend/prisma/seed/main.ts
  apps/backend/prisma/seed/tables/skills.ts
Due: biome check --write

feat: integrate skills routes and update schema for admin and user skills management
  apps/backend/src/api/skills/admin/skills.admin.model.ts
  apps/backend/src/api/skills/admin/skills.admin.route.ts
  apps/backend/src/api/skills/admin/skills.admin.service.ts
  apps/backend/src/api/skills/user/skills.user.model.ts
  apps/backend/src/api/skills/user/skills.user.route.ts
  apps/backend/src/api/skills/user/skills.user.service.ts
  apps/backend/src/routes/admin.ts
  apps/backend/src/routes/user.ts
  apps/dashboard/src/types/server/schema.d.ts
  apps/website/src/types/server/schema.d.ts
  biome.json
Due: biome check --write

feat: add skills section to sidebar and update translations for skills management
  apps/dashboard/src/app/(dashboard)/governorates/page.tsx
  apps/dashboard/src/app/(dashboard)/skills/page.tsx
  apps/dashboard/src/components/shell/sidebar/links/links.tsx
  apps/dashboard/src/features/skills/components/skills-form/index.ts
  apps/dashboard/src/features/skills/components/skills-form/skills-form.tsx
  apps/dashboard/src/features/skills/hooks/use-skills-create.ts
  apps/dashboard/src/features/skills/hooks/use-skills-delete.ts
  apps/dashboard/src/features/skills/hooks/use-skills-form.ts
  apps/dashboard/src/features/skills/hooks/use-skills-list.ts
  apps/dashboard/src/features/skills/hooks/use-skills-update.ts
  apps/dashboard/src/features/skills/types/index.ts
  apps/dashboard/src/features/skills/views/skills/index.ts
  apps/dashboard/src/features/skills/views/skills/skills.tsx
  apps/dashboard/src/i18n/messages/ar.json
  apps/dashboard/src/i18n/messages/en.json
Due: biome check --write, bun run i18n:validate

feat: add governorates link to sidebar and update translations for sidebar items
  apps/dashboard/src/components/shell/sidebar/links/links.tsx
  apps/dashboard/src/i18n/messages/ar.json
  apps/dashboard/src/i18n/messages/en.json
  apps/website/src/i18n/messages/ar.json
  apps/website/src/i18n/messages/en.json
Due: biome check --write, bun run i18n:validate

feat: update sidebar with new skills section and enhance translations for improved user experience
  apps/website/src/components/form-section/form-section.tsx
  apps/website/src/components/form-section/index.ts
Due: biome check --write

refactor: consolidate account-related components and remove unused files for cleaner structure
  apps/website/src/app/(website)/layout.tsx
  apps/website/src/app/accounts/layout.tsx
  apps/website/src/app/accounts/login/page.tsx
  apps/website/src/app/accounts/verify/page.tsx
  apps/website/src/app/join/page.tsx
  apps/website/src/components/header/header.tsx
  apps/website/src/features/accounts/components/language-selector/index.ts
  apps/website/src/features/accounts/components/language-selector/language-selector.tsx
  apps/website/src/features/accounts/hooks/use-send-otp-form.ts
  apps/website/src/features/accounts/hooks/use-send-otp-mut.ts
  apps/website/src/features/accounts/hooks/use-sign-in-form.ts
  apps/website/src/features/accounts/hooks/use-sign-in-mut.ts
  apps/website/src/features/accounts/hooks/use-verify-otp-form.ts
  apps/website/src/features/accounts/hooks/use-verify-otp-mut.ts
  apps/website/src/features/accounts/types/index.ts
  apps/website/src/features/accounts/views/send-otp/index.ts
  apps/website/src/features/accounts/views/send-otp/send-otp.tsx
  apps/website/src/features/accounts/views/verify-otp/index.ts
  apps/website/src/features/accounts/views/verify-otp/verify-otp.tsx
Due: biome check --write

feat: implement user registration endpoint with comprehensive user model and validation for professional and personal information
  apps/backend/src/api/accounts/user/accounts.user.model.ts
  apps/backend/src/api/accounts/user/accounts.user.route.ts
  apps/backend/src/api/accounts/user/accounts.user.service.ts
  apps/backend/src/utils/auth.ts
  apps/dashboard/src/types/server/schema.d.ts
  apps/website/src/types/server/schema.d.ts
Due: biome check --write

feat: introduce Currency enum and update User model to use Currency type for expectedSalaryCurrency
  apps/backend/prisma/migrations/20260131082720/migration.sql
  apps/backend/prisma/schema.prisma
  apps/dashboard/src/types/server/schema.d.ts
  apps/website/src/types/server/schema.d.ts
Due: biome check --write

feat: implement join form with validation and integrate governorates and skills queries for user registration
  apps/website/src/app/(website)/layout.tsx
  apps/website/src/app/join/page.tsx
  apps/website/src/features/join/components/join-form/index.ts
  apps/website/src/features/join/components/join-form/join-form.tsx
  apps/website/src/features/join/hooks/use-governorates-query.ts
  apps/website/src/features/join/hooks/use-join-form.ts
  apps/website/src/features/join/hooks/use-register-mut.ts
  apps/website/src/features/join/hooks/use-skills-query.ts
  apps/website/src/features/join/types/index.ts
  apps/website/src/features/join/views/join/index.ts
  apps/website/src/features/join/views/join/join.tsx
  apps/website/src/i18n/messages/ar.json
  apps/website/src/i18n/messages/en.json
  apps/website/src/styles/globals.css
  apps/website/src/utils/translation-maps.ts
Due: biome check --write, bun run i18n:validate

feat: update user model to use AvailabilityType and WorkLocationType enums for availability and work location fields
  apps/backend/src/utils/auth.ts
Due: biome check --write

feat: enhance join form by adding clearable option to availability select and updating login link to use Anchor component
  apps/website/src/features/join/components/join-form/join-form.tsx
Due: biome check --write

feat: enhance password setup form with strong password validation and success notifications
  apps/backend/src/utils/auth.ts
  apps/website/src/features/auth/components/set-password-form/set-password-form.tsx
  apps/website/src/features/auth/components/verify-email-otp-form/verify-email-otp-form.tsx
  apps/website/src/features/auth/hooks/use-set-password-form.ts
  apps/website/src/features/auth/hooks/use-setup-password-mut.ts
  apps/website/src/i18n/messages/ar.json
  apps/website/src/i18n/messages/en.json
Due: biome check --write, bun run i18n:validate

refactor: simplify email OTP verification form by integrating mutation hook and removing redundant props
  apps/website/src/features/auth/components/verify-email-otp-form/verify-email-otp-form.tsx
  apps/website/src/features/auth/hooks/use-verify-email-otp-form.ts
  apps/website/src/features/auth/views/verify-email/verify-email.tsx
Due: biome check --write

feat: update auth and join form to integrate Currency enum for expected salary currency and improve governorate ID validation
  apps/backend/src/utils/auth.ts
  apps/website/src/features/join/hooks/use-join-form.ts
Due: biome check --write

refactor: rename password setup endpoints and related components for consistency and clarity
  apps/backend/src/api/accounts/user/accounts.user.model.ts
  apps/backend/src/api/accounts/user/accounts.user.route.ts
  apps/dashboard/src/types/server/schema.d.ts
  apps/website/src/features/auth/components/set-password-form/set-password-form.tsx
  apps/website/src/features/auth/hooks/use-set-password-mut.ts
  apps/website/src/features/auth/hooks/use-verify-email-otp-mut.ts
  apps/website/src/types/server/schema.d.ts
Due: biome check --write

refactor: remove email from set password endpoint and related components for improved security
  apps/backend/src/api/accounts/user/accounts.user.model.ts
  apps/backend/src/api/accounts/user/accounts.user.route.ts
  apps/dashboard/src/types/server/schema.d.ts
  apps/website/src/app/(website)/(authed)/set-password/page.tsx
  apps/website/src/features/auth/components/set-password-form/set-password-form.tsx
  apps/website/src/features/auth/hooks/use-set-password-mut.ts
  apps/website/src/features/auth/types/index.ts
  apps/website/src/features/auth/views/set-password/index.ts
  apps/website/src/features/auth/views/set-password/set-password.tsx
  apps/website/src/types/server/schema.d.ts
Due: biome check --write

refactor: migrate email verification components to accounts feature and remove obsolete auth components
  apps/website/src/app/verify-email/page.tsx
  apps/website/src/features/accounts/components/set-password-form/index.ts
  apps/website/src/features/accounts/components/set-password-form/set-password-form.tsx
  apps/website/src/features/accounts/components/verify-email-otp-form/index.ts
  apps/website/src/features/accounts/components/verify-email-otp-form/verify-email-otp-form.tsx
  apps/website/src/features/accounts/hooks/use-set-password-form.ts
  apps/website/src/features/accounts/hooks/use-set-password-mut.ts
  apps/website/src/features/accounts/hooks/use-verify-email-otp-form.ts
  apps/website/src/features/accounts/hooks/use-verify-email-otp-mut.ts
  apps/website/src/features/accounts/types/index.ts
  apps/website/src/features/accounts/views/set-password/index.ts
  apps/website/src/features/accounts/views/set-password/set-password.tsx
  apps/website/src/features/accounts/views/verify-email/index.ts
  apps/website/src/features/accounts/views/verify-email/verify-email.tsx
  apps/website/src/features/auth/views/set-password/set-password.tsx
Due: biome check --write

refactor: streamline email OTP verification by importing request body type and simplifying mutation function
  apps/website/src/features/accounts/hooks/use-verify-email-otp-mut.ts
  apps/website/src/features/accounts/types/index.ts
Due: biome check --write

refactor: remove set password components and integrate password fields into OTP verification form for streamlined user experience
  apps/website/src/app/(website)/(authed)/set-password/page.tsx
  apps/website/src/features/accounts/components/set-password-form/index.ts
  apps/website/src/features/accounts/components/set-password-form/set-password-form.tsx
  apps/website/src/features/accounts/components/verify-email-otp-form/verify-email-otp-form.tsx
  apps/website/src/features/accounts/hooks/use-set-password-form.ts
  apps/website/src/features/accounts/hooks/use-set-password-mut.ts
  apps/website/src/features/accounts/hooks/use-verify-email-otp-form.ts
  apps/website/src/features/accounts/hooks/use-verify-email-otp-mut.ts
  apps/website/src/features/accounts/types/index.ts
  apps/website/src/features/accounts/views/set-password/index.ts
  apps/website/src/features/accounts/views/set-password/set-password.tsx
  apps/website/src/i18n/messages/ar.json
  apps/website/src/i18n/messages/en.json
Due: biome check --write, bun run i18n:validate

refactor: move useTranslations hook initialization to the correct position in JoinForm component for improved readability
  apps/website/src/features/join/components/join-form/join-form.tsx
Due: biome check --write

feat: add join requests route to admin API for enhanced functionality
  apps/backend/src/api/join-requests/admin/join-requests.admin.model.ts
  apps/backend/src/api/join-requests/admin/join-requests.admin.route.ts
  apps/backend/src/api/join-requests/admin/join-requests.admin.service.ts
  apps/backend/src/routes/admin.ts
  apps/dashboard/src/types/server/schema.d.ts
  apps/website/src/types/server/schema.d.ts
Due: biome check --write

feat: implement join requests feature with API integration, UI components, and localization support
  apps/dashboard/src/app/(dashboard)/join-requests/page.tsx
  apps/dashboard/src/components/shell/sidebar/links/links.tsx
  apps/dashboard/src/features/join-requests/hooks/use-join-requests-list.ts
  apps/dashboard/src/features/join-requests/types/index.ts
  apps/dashboard/src/features/join-requests/views/join-requests/index.ts
  apps/dashboard/src/features/join-requests/views/join-requests/join-requests.tsx
  apps/dashboard/src/i18n/messages/ar.json
  apps/dashboard/src/i18n/messages/en.json
Due: biome check --write, bun run i18n:validate

feat: add JoinRequestsRowExpansion component and integrate it into the join requests view for enhanced user experience
  apps/dashboard/src/features/join-requests/components/join-requests-row-expansion/index.ts
  apps/dashboard/src/features/join-requests/components/join-requests-row-expansion/join-requests-row-expansion.tsx
  apps/dashboard/src/features/join-requests/views/join-requests/join-requests.tsx
  apps/dashboard/src/styles/globals.css
Due: biome check --write

refactor: update join requests service to use status field instead of accountVerified for improved clarity and consistency
  apps/backend/src/api/join-requests/admin/join-requests.admin.service.ts
  apps/backend/src/utils/auth.ts
Due: biome check --write

refactor: remove admin users model, service, and route to streamline user management API
  apps/backend/src/api/users/admin/users.admin.model.ts
  apps/backend/src/api/users/admin/users.admin.route.ts
  apps/backend/src/api/users/admin/users.admin.service.ts
  apps/backend/src/routes/admin.ts
Due: biome check --write

refactor: remove join requests feature from admin API and dashboard components to streamline user management
  apps/backend/src/api/join-requests/admin/join-requests.admin.route.ts
  apps/backend/src/api/users/admin/users.admin.model.ts
  apps/backend/src/api/users/admin/users.admin.route.ts
  apps/backend/src/api/users/admin/users.admin.service.ts
  apps/backend/src/routes/admin.ts
  apps/dashboard/src/app/(dashboard)/join-requests/page.tsx
  apps/dashboard/src/app/(dashboard)/users/page.tsx
  apps/dashboard/src/components/shell/sidebar/links/links.tsx
  apps/dashboard/src/features/join-requests/components/join-requests-row-expansion/index.ts
  apps/dashboard/src/features/join-requests/hooks/use-join-requests-list.ts
  apps/dashboard/src/features/join-requests/types/index.ts
  apps/dashboard/src/features/join-requests/views/join-requests/index.ts
  apps/dashboard/src/features/users/components/users-row-expansion/index.ts
  apps/dashboard/src/features/users/components/users-row-expansion/users-row-expansion.tsx
  apps/dashboard/src/features/users/hooks/use-users-list.ts
  apps/dashboard/src/features/users/types/index.ts
  apps/dashboard/src/features/users/views/users/index.ts
  apps/dashboard/src/features/users/views/users/users.tsx
  apps/dashboard/src/i18n/messages/ar.json
  apps/dashboard/src/i18n/messages/en.json
  apps/dashboard/src/types/server/schema.d.ts
  apps/dashboard/src/utils/translation-maps.ts
  apps/website/src/types/server/schema.d.ts
Due: biome check --write, bun run i18n:validate

feat: add phone number display and update user table structure in dashboard, including localization for new fields
  apps/dashboard/src/features/users/views/users/users.tsx
  apps/dashboard/src/i18n/messages/ar.json
  apps/dashboard/src/i18n/messages/en.json
Due: biome check --write, bun run i18n:validate

refactor: improve UsersRowExpansion layout and structure, enhancing the display of professional and contact information
  apps/dashboard/src/features/users/components/users-row-expansion/users-row-expansion.tsx
Due: biome check --write

feat: add email and phone verification messages to localization files and enhance UsersRowExpansion component
  apps/dashboard/src/features/users/components/users-row-expansion/users-row-expansion.tsx
  apps/dashboard/src/i18n/messages/ar.json
  apps/dashboard/src/i18n/messages/en.json
Due: biome check --write, bun run i18n:validate

feat: add user approval and rejection response types, and update localization for success messages in Arabic and English
  apps/dashboard/src/features/users/hooks/use-user-approve.ts
  apps/dashboard/src/features/users/hooks/use-user-reject.ts
  apps/dashboard/src/features/users/types/index.ts
  apps/dashboard/src/i18n/messages/ar.json
  apps/dashboard/src/i18n/messages/en.json
Due: biome check --write, bun run i18n:validate

refactor: replace Hero component with Home component and update HomePage function name
  apps/website/src/app/(website)/page.tsx
  apps/website/src/features/home/components/hero/hero.tsx
  apps/website/src/features/home/components/hero/index.ts
  apps/website/src/features/home/components/hero/styles.module.css
  apps/website/src/features/home/components/user-card/index.ts
  apps/website/src/features/home/components/user-card/user-card.tsx
  apps/website/src/features/home/views/home/home.tsx
  apps/website/src/features/home/views/home/index.ts
Due: biome check --write

feat: implement user management API with user listing and avatar integration, including new user model and service
  apps/backend/prisma/seed/tables/user.ts
  apps/backend/src/api/users/user/users.user.model.ts
  apps/backend/src/api/users/user/users.user.route.ts
  apps/backend/src/api/users/user/users.user.service.ts
  apps/backend/src/routes/user.ts
  apps/dashboard/src/types/server/schema.d.ts
  apps/website/src/types/server/schema.d.ts
Due: biome check --write

feat: add CVs section to home page, including user listing with loading skeletons and localization support
  apps/website/src/features/home/components/cvs-section/cvs-section.tsx
  apps/website/src/features/home/components/cvs-section/index.ts
  apps/website/src/features/home/components/cvs-section/styles.module.css
  apps/website/src/features/home/components/user-card/styles.module.css
  apps/website/src/features/home/components/user-card/user-card.tsx
  apps/website/src/features/home/hooks/use-users-query.ts
  apps/website/src/features/home/types/index.ts
  apps/website/src/features/home/views/home/home.tsx
  apps/website/src/i18n/messages/ar.json
  apps/website/src/i18n/messages/en.json
Due: biome check --write, bun run i18n:validate

feat: add footer component with localization support for English and Arabic
  apps/website/src/app/(website)/layout.tsx
  apps/website/src/components/footer/footer.tsx
  apps/website/src/components/footer/index.ts
  apps/website/src/components/footer/styles.module.css
  apps/website/src/i18n/messages/ar.json
  apps/website/src/i18n/messages/en.json
Due: biome check --write, bun run i18n:validate

refactor: update layout structure and improve header/footer styles with localization adjustments
  apps/website/src/app/(website)/layout.tsx
  apps/website/src/components/footer/styles.module.css
  apps/website/src/components/header/header.tsx
  apps/website/src/components/header/styles.module.css
  apps/website/src/features/home/components/cvs-section/cvs-section.tsx
  apps/website/src/i18n/messages/ar.json
  apps/website/src/i18n/messages/en.json
Due: biome check --write, bun run i18n:validate

refactor: replace hardcoded availability and work location translations in UserCard with utility functions for improved localization
  apps/website/src/features/home/components/user-card/user-card.tsx
Due: biome check --write

Path conditions:
  biome check --write: any of: *.{js,jsx,ts,tsx,json,css,scss}
  bun run i18n:validate: any of: apps/*/src/i18n/messages/*.json
