Repository alimehasin/cvforest: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, bun run i18n:validate

chore: update all deps
  apps/backend/package.json
  apps/dashboard/package.json
  apps/website/package.json
  bun.lock
  package.json
Due: biome check --write

feat: integrate Microsoft Clarity for enhanced analytics and add clarity project ID to environment configuration
  apps/website/.env.example
  apps/website/package.json
  apps/website/src/app/layout.tsx
  apps/website/src/components/microsoft-clarity.tsx
  apps/website/src/env.ts
  bun.lock
Due: biome check --write

refactor: adjust layout of profile component for improved responsiveness and enhance sign-out button styling
  apps/website/src/features/profile/views/profile/profile.tsx
Due: biome check --write

fix: change title order in profile info component for better hierarchy
  apps/website/src/features/profile/components/profile-info/profile-info.tsx
Due: biome check --write

refactor: update SimpleGrid column definitions in UploadCvForm for improved responsiveness
  apps/website/src/features/cvs/components/upload-cv-form/upload-cv-form.tsx
Due: biome check --write

Add image to README for visual enhancement
  README.md
Due: none

chore: update all deps
  apps/backend/package.json
  apps/dashboard/package.json
  apps/website/package.json
  bun.lock
Due: biome check --write

chore: update schema version in biome.json to 2.4.4
  biome.json
Due: biome check --write

feat: add logo images and metadata icons to dashboard and website layouts, enhance sign-in and header components with logo display
  apps/dashboard/public/logo-1024.png
  apps/dashboard/public/logo-512.png
  apps/dashboard/src/app/layout.tsx
  apps/dashboard/src/features/accounts/views/sign-in/sign-in.tsx
  apps/website/public/logo-1024.png
  apps/website/public/logo-512.png
  apps/website/src/app/layout.tsx
  apps/website/src/components/shell/header/header.tsx
  apps/website/src/components/shell/header/styles.module.css
Due: biome check --write

chore: update @aws-sdk/client-s3 to latest versions
  apps/backend/package.json
  bun.lock
Due: biome check --write

feat: enhance HomePage and Hero component to conditionally render buttons based on user CV status
  apps/website/src/app/(website)/page.tsx
  apps/website/src/features/home/components/hero/hero.tsx
  apps/website/src/features/home/views/home/home.tsx
Due: biome check --write

feat: add PDF support to file types and enhance CV model with file association
  apps/backend/prisma/migrations/20260225085824/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/api/cvs/user/cvs.user.model.ts
  apps/backend/src/api/cvs/user/cvs.user.service.ts
  apps/backend/src/api/files/admin/files.admin.service.ts
  apps/backend/src/api/files/user/files.user.service.ts
  apps/backend/src/utils/clients/s3/helpers.ts
  apps/backend/src/utils/clients/s3/types.ts
  apps/backend/src/utils/clients/s3/uploaders.ts
  apps/dashboard/src/types/server/schema.d.ts
  apps/website/src/types/server/schema.d.ts
Due: biome check --write

feat: make fileId optional in CV model and update related schema definitions
  apps/backend/src/api/cvs/user/cvs.user.model.ts
  apps/dashboard/src/types/server/schema.d.ts
  apps/website/src/types/server/schema.d.ts
Due: biome check --write

feat: implement CV file upload functionality with PDF support in UploadCvForm
  apps/website/src/features/cvs/components/upload-cv-form/upload-cv-form.tsx
  apps/website/src/features/cvs/hooks/use-cv-pdf-upload.ts
  apps/website/src/features/cvs/hooks/use-upload-cv-form.ts
  apps/website/src/i18n/messages/ar.json
  apps/website/src/i18n/messages/en.json
  apps/website/src/utils/helpers.ts
Due: biome check --write, bun run i18n:validate

refactor: replace constructImageUrl with constructFileUrl across components and utilities for consistent file handling
  apps/dashboard/src/components/shell/sidebar/user-button/user-button.tsx
  apps/dashboard/src/features/cvs/components/cvs-row-expansion/cvs-row-expansion.tsx
  apps/dashboard/src/features/cvs/views/cvs/cvs.tsx
  apps/dashboard/src/features/profile/components/profile-avatar/profile-avatar.tsx
  apps/dashboard/src/features/users/views/users/users.tsx
  apps/dashboard/src/utils/helpers.ts
  apps/website/src/app/(website)/cvs/[id]/page.tsx
  apps/website/src/components/shell/header/user-button/user-button.tsx
  apps/website/src/features/cvs/components/upload-cv-form/upload-cv-form.tsx
  apps/website/src/features/cvs/components/user-hero/user-hero.tsx
  apps/website/src/features/home/components/cv-card/cv-card.tsx
  apps/website/src/features/profile/components/profile-avatar/profile-avatar.tsx
  apps/website/src/utils/helpers.ts
Due: biome check --write

feat: add "Show CV" button and related translations in user hero component, update CV file handling messages in i18n files
  apps/dashboard/src/i18n/messages/ar.json
  apps/dashboard/src/i18n/messages/en.json
  apps/website/src/features/cvs/components/user-hero/user-hero.tsx
  apps/website/src/i18n/messages/ar.json
  apps/website/src/i18n/messages/en.json
Due: biome check --write, bun run i18n:validate

feat: integrate file handling in CV model and service, add "Show CV" button in dashboard with translations
  apps/backend/src/api/cvs/admin/cvs.admin.model.ts
  apps/backend/src/api/cvs/admin/cvs.admin.service.ts
  apps/dashboard/src/features/cvs/components/cvs-row-expansion/cvs-row-expansion.tsx
  apps/dashboard/src/i18n/messages/ar.json
  apps/dashboard/src/i18n/messages/en.json
  apps/dashboard/src/types/server/schema.d.ts
  apps/website/src/types/server/schema.d.ts
Due: biome check --write, bun run i18n:validate

feat: add dayjs dependency, implement admin home route and response schema, and update translations for home metrics
  apps/backend/package.json
  apps/backend/src/api/home/admin/home.admin.model.ts
  apps/backend/src/api/home/admin/home.admin.route.ts
  apps/backend/src/api/home/admin/home.admin.services.ts
  apps/backend/src/routes/admin.ts
  apps/backend/src/utils/stats.ts
  apps/dashboard/src/app/(dashboard)/(home)/page.tsx
  apps/dashboard/src/app/(dashboard)/page.tsx
  apps/dashboard/src/components/metric-card/metric-card.tsx
  apps/dashboard/src/features/home/types/index.ts
  apps/dashboard/src/features/home/views/home/home.tsx
  apps/dashboard/src/features/home/views/home/index.ts
  apps/dashboard/src/i18n/messages/ar.json
  apps/dashboard/src/i18n/messages/en.json
  apps/dashboard/src/types/server/schema.d.ts
  apps/website/src/types/server/schema.d.ts
  bun.lock
Due: biome check --write, bun run i18n:validate

chore: update all deps
  apps/backend/package.json
  apps/dashboard/package.json
  apps/website/package.json
  bun.lock
  configs/typescript/package.json
  package.json
Due: biome check --write

chore: bump all apps to v0.2.0
  apps/backend/package.json
  apps/dashboard/package.json
  apps/website/package.json
  configs/typescript/package.json
Due: biome check --write

v0.2.0
  package.json
Due: biome check --write

fix: update "Show CV" button in UserHero component to open CV in a new tab and ensure it is disabled when no file is available
  apps/website/src/features/cvs/components/user-hero/user-hero.tsx
Due: biome check --write

chore: bump all apps versions
  apps/backend/package.json
  apps/dashboard/package.json
  apps/website/package.json
Due: biome check --write

v0.2.1
  package.json
Due: biome check --write

feat: init newweb
  .vscode/settings.json
  apps/backend/package.json
  apps/dashboard/package.json
  apps/newweb/components.json
  apps/newweb/next.config.ts
  apps/newweb/package.json
  apps/newweb/postcss.config.mjs
  apps/newweb/src/app/layout.tsx
  apps/newweb/src/app/page.tsx
  apps/newweb/src/components/ui/alert-dialog.tsx
  apps/newweb/src/components/ui/badge.tsx
  apps/newweb/src/components/ui/button.tsx
  apps/newweb/src/components/ui/card.tsx
  apps/newweb/src/components/ui/combobox.tsx
  apps/newweb/src/components/ui/dropdown-menu.tsx
  apps/newweb/src/components/ui/field.tsx
  apps/newweb/src/components/ui/input-group.tsx
  apps/newweb/src/components/ui/input.tsx
  apps/newweb/src/components/ui/label.tsx
  apps/newweb/src/components/ui/select.tsx
  apps/newweb/src/components/ui/separator.tsx
  apps/newweb/src/components/ui/textarea.tsx
  apps/newweb/src/lib/utils.ts
  apps/newweb/src/styles/globals.css
  apps/newweb/tsconfig.json
  apps/website/package.json
  biome.json
  bun.lock
Due: biome check --write

feat: integrate next-intl for internationalization, add new dependencies, and update layout and page components
  apps/newweb/i18next-parser.config.json
  apps/newweb/next.config.ts
  apps/newweb/package.json
  apps/newweb/src/app/layout.tsx
  apps/newweb/src/app/page.tsx
  apps/newweb/src/i18n/locales.ts
  apps/newweb/src/i18n/messages/ar.json
  apps/newweb/src/i18n/messages/en.json
  apps/newweb/src/i18n/request.ts
  apps/newweb/src/providers/nex-intl-provider.tsx
  bun.lock
Due: biome check --write, bun run i18n:validate

feat: add some dependencies, update layout metadata generation for internationalization, and correct Dockerfile working directory
  apps/newweb/.env.example
  apps/newweb/Dockerfile
  apps/newweb/package.json
  apps/newweb/public/logo-1024.png
  apps/newweb/public/logo-512.png
  apps/newweb/src/app/layout.tsx
  apps/newweb/src/env.ts
  apps/newweb/src/types/index.ts
  apps/newweb/src/types/server/helpers.ts
  apps/newweb/src/types/server/schema.d.ts
  bun.lock
Due: biome check --write

feat: add @tanstack/react-query dependency to bun.lock and package.json
  apps/newweb/package.json
  apps/newweb/src/hooks/use-ky.ts
  apps/newweb/src/hooks/use-set-locale.ts
  apps/newweb/src/providers/query-client-provider.tsx
  apps/newweb/src/server/actions.ts
  bun.lock
Due: biome check --write

feat: add libphonenumber-js dependency to bun.lock and package.json
  apps/newweb/package.json
  apps/newweb/src/utils/helpers.ts
  apps/newweb/src/utils/schemas.ts
  apps/newweb/src/utils/translation-maps.ts
  bun.lock
Due: biome check --write

feat: add i18next-parser dependency and update Arabic and English localization files for internationalization
  apps/newweb/package.json
  apps/newweb/src/i18n/messages/ar.json
  apps/newweb/src/i18n/messages/en.json
  bun.lock
Due: biome check --write, bun run i18n:validate

refactor: remove unused Page component and its dependencies from the newweb app
  apps/newweb/src/app/(home)/page.tsx
  apps/newweb/src/app/page.tsx
  apps/newweb/src/features/views/home/home.tsx
  apps/newweb/src/features/views/home/index.ts
Due: biome check --write

refactor: start porting
  apps/newweb/components.json
  apps/newweb/src/app/layout.tsx
  apps/newweb/src/components/ui/alert-dialog.tsx
  apps/newweb/src/components/ui/badge.tsx
  apps/newweb/src/components/ui/button.tsx
  apps/newweb/src/components/ui/card.tsx
  apps/newweb/src/components/ui/combobox.tsx
  apps/newweb/src/components/ui/direction.tsx
  apps/newweb/src/components/ui/dropdown-menu.tsx
  apps/newweb/src/components/ui/field.tsx
  apps/newweb/src/components/ui/input-group.tsx
  apps/newweb/src/components/ui/input.tsx
  apps/newweb/src/components/ui/select.tsx
  apps/newweb/src/components/ui/textarea.tsx
  apps/newweb/src/features/components/cta-section.tsx
  apps/newweb/src/features/components/features-section.tsx
  apps/newweb/src/features/components/footer.tsx
  apps/newweb/src/features/components/hero-section.tsx
  apps/newweb/src/features/components/how-it-works-section.tsx
  apps/newweb/src/features/components/navbar.tsx
  apps/newweb/src/features/components/stats-section.tsx
  apps/newweb/src/features/components/talent-section.tsx
  apps/newweb/src/features/views/home/home.tsx
  apps/newweb/src/providers/i18n-provider.tsx
  apps/newweb/src/styles/globals.css
  bun.lock
Due: biome check --write

chore: update all deps
  apps/backend/package.json
  apps/dashboard/package.json
  apps/newweb/package.json
  apps/website/package.json
  bun.lock
  package.json
Due: biome check --write

chore: update schema version in biome.json to 2.4.6
  biome.json
Due: biome check --write

chore: add noDuplicateProperties rule to suspicious section in biome.json
  biome.json
Due: biome check --write

feat: add new web app dependencies and update VSCode settings for Tailwind CSS integration
  .vscode/settings.json
  apps/web/.env.example
  apps/web/components.json
  apps/web/next.config.ts
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/theme-provider.tsx
  apps/web/src/components/ui/button.tsx
  apps/web/src/i18n/locales.ts
  apps/web/src/i18n/messages/ar.json
  apps/web/src/i18n/messages/en.json
  apps/web/src/i18n/request.ts
  apps/web/src/lib/utils.ts
  apps/web/src/styles/globals.css
  apps/web/tsconfig.json
  bun.lock
Due: biome check --write, bun run i18n:validate

feat: implement metadata generation for layout with internationalization support
  apps/web/public/logo-1024.png
  apps/web/public/logo-512.png
  apps/web/src/app/layout.tsx
Due: biome check --write

feat: add shadcn CLI documentation, customization guidelines, MCP server setup, and component rules
  .agents/skills/shadcn/SKILL.md
  .agents/skills/shadcn/agents/openai.yml
  .agents/skills/shadcn/assets/shadcn-small.png
  .agents/skills/shadcn/assets/shadcn.png
  .agents/skills/shadcn/cli.md
  .agents/skills/shadcn/customization.md
  .agents/skills/shadcn/evals/evals.json
  .agents/skills/shadcn/mcp.md
  .agents/skills/shadcn/rules/base-vs-radix.md
  .agents/skills/shadcn/rules/composition.md
  .agents/skills/shadcn/rules/forms.md
  .agents/skills/shadcn/rules/icons.md
  .agents/skills/shadcn/rules/styling.md
  .claude/skills/shadcn
Due: biome check --write

feat: add new utility functions for date formatting and phone number parsing, and update dependencies in package.json and bun.lock
  apps/web/i18next-parser.config.json
  apps/web/package.json
  apps/web/src/env.ts
  apps/web/src/hooks/use-ky.ts
  apps/web/src/hooks/use-set-locale.ts
  apps/web/src/lib/utils.ts
  apps/web/src/providers/nex-intl-provider.tsx
  apps/web/src/providers/query-client-provider.tsx
  apps/web/src/server/actions.ts
  apps/web/src/types/index.ts
  apps/web/src/types/server/helpers.ts
  apps/web/src/types/server/schema.d.ts
  bun.lock
  skills-lock.json
Due: biome check --write

feat: add sonner for toast notifications and integrate it into the query client provider and layout
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/components/ui/sonner.tsx
  apps/web/src/providers/query-client-provider.tsx
  bun.lock
Due: biome check --write

Path conditions:
  biome check --write: any of: *.{js,jsx,ts,tsx,json,css,scss}
  bun run i18n:validate: any of: apps/*/src/i18n/messages/*.json
